<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.paper.android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ActivitiesActivity"
            android:label="@string/activities_title" />
        <activity
            android:name=".activities.LifecycleActivity"
            android:label="@string/al_activity_lifecycle" />
        <activity
            android:name=".activities.DialogActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".activities.FragmentActivity"
            android:label="@string/al_fragment" />
        <activity
            android:name=".animations.AnimationsActivity"
            android:label="@string/al_animations" />
        <activity
            android:name=".animations.AutoLayoutActivity"
            android:label="@string/al_animation_layout" />
        <activity
            android:name=".animations.PropertyAnimationActivity"
            android:label="@string/al_animation_property" />
        <activity
            android:name=".animations.TransitionActivity"
            android:label="@string/ap_transition" />
    </application>

</manifest>